<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.humor.adminMapper">
<select id="userlist" resultType="JHIdiot">
<![CDATA[
select
user_id, nickname, email, gender,
age, phone_number, join_date, role
from users
order by user_id desc
]]>
</select>
<select id="userdetail" resultType="JHIdiot">
<![CDATA[
select
user_id, nickname, email, gender,
age, phone_number, join_date, role
from users
where user_id = #{userId}
order by user_id desc
]]>
</select>
<select id="postreport" resultType="PostRe">
<![CDATA[
select
report_id, reporter_id, post_id, category_id, reported_at, 
report_category_id
from post_report
order by report_id desc
]]>
</select>
<select id="replyreport" resultType="ReplyRe">
<![CDATA[
select
report_id, reporter_id, reply_id, report_category_id,
reported_at
from reply_report
order by report_id desc
]]>
</select>

</mapper>