<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.humor.mapper.signup-mapper">
    <!-- 아무 SQL이 없어도 실행은 됨 -->
  <insert id="signup">
	  <![CDATA[
	      INSERT INTO users (user_id, age, password, password_check, nickname, email, gender, role, phone_number) 
	      VALUES (#{userId}, #{age}, #{password}, #{passwordCheck}, #{nickname}, #{email}, #{gender}, #{role,jdbcType=VARCHAR}, #{phoneNumber})
	  ]]>
  </insert>
  <select id ="signin" resultType="com.my.humor.vo.SignUpVO">
	<![CDATA[
		SELECT *
		FROM
		users where user_id = #{userId}
	]]>
  </select>
  <select id="findid" resultType="com.my.humor.vo.SignUpVO">
		select * from users
		where phone_number=#{phoneNumber} and email=#{email}
  </select>
  <select id="findpw" resultType="com.my.humor.vo.SignUpVO">
  	select * from users
		where user_id=#{userId} and nickname =#{nickname}
  </select>
  <update id="updatepw" parameterType="com.my.humor.vo.SignUpVO">
        UPDATE users
        SET password = #{password}
        WHERE user_id = #{userId} AND nickname = #{nickname}
    </update>
</mapper>
